[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = kuinque
	email = 49345642+kuinque@users.noreply.github.com
[pull]
	ff = only
[core]
	pager = cat
	editor = nvim
[merge]
	tool = nvimdiff
[safe]
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
